

.Board{



    margin-left: 30px;
    .column{


        min-width: 280px;
        gap: 20px ;

        .card{

            margin-right: 40px;
            .card-title{
                font-weight: 700;
            }
        }
       
    }
}