:root {
    --bg-color: white;
    --side : white
  }

.Board{



    margin-left: 30px;
    .column{


        min-width: 280px;
        gap: 20px ;

        .card{
            background-color: var(--side);
            margin-right: 40px;
            .card-title{
                font-weight: 700;
            }
        }
       
    }
}