:root {
    --bg-color: #E4EBFA;
  }

.css-1afhj7j{
    background-color: var(--bg-color);

}

.css-w0yf1o{
    background-color: var(--bg-color);
}

// .MuiButtonBase-root.MuiListItemButton-root:hover {
//     background-color: #635FC7;
//     border-top-right-radius: 30%;
//     border-bottom-right-radius: 30%;

//   }

  #active{

    background-color: #635FC7;
    border-radius: 0 100px 100px 0;

  }